.section {
  margin: auto;
}
.img {
  width: 100%;
}
.heading1 {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 46px;
  font-weight: 400;
  line-height: 67.53px;
}
.span {
  font-weight: 700;
}
