.sectionYb {
  background-color: #f6f6f6;
}
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 9%;
  padding: 3rem 0;
}
.youtube {
  width: 50%;
}
.yb {
  width: 100%;
}
.content {
  width: 45%;
}
.paragraph {
  margin-top: 1rem;
  line-height: 26px;
  font-size: 18px;
  width: 80%;
}
.line {
  margin-top: -1rem;
}
.heading1 {
  font-size: 32px;
}
.heading3 {
  margin: 30px 0;
}
.mr {
  margin-left: 3rem;
}
.icon {
  margin-right: 10px;
}
@media (max-width: 1100px) {
  .article {
    flex-direction: column;
  }
  .youtube,
  .content {
    width: 100%;
  }
  .heading1 {
    margin-top: 1rem;
  }
  .paragraph {
    width: 100%;
  }
}
