.section {
  margin: auto 9%;
  padding: 4rem 0;
  margin-top: 25rem;
  display: flex;
  justify-content: space-around;
}
.content {
  width: 520px;
}
.pana {
  width: 550px;
}
.panaImage {
  width: 100%;
}
.paragraph {
  font-size: 18px;
  margin-top: 2rem;
}
.heading1 {
  font-size: 32px;
  font-weight: bold;
}
.line {
  margin-top: -1rem;
}
