.section {
  background-color: #ee4248;
  color: white;
}
.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 9%;
  padding: 3rem 0;
}
.article {
  width: 45%;
  text-align: justify;
}
.lineblack {
  margin-top: -1rem;
}
.paragraph {
  margin-top: 1rem;
  font-size: 18px;
}
.paragraph2 {
  font-size: 18px;
}
.yb {
  width: 50%;
}
@media (max-width: 1100px) {
  .sectionContainer {
    flex-direction: column;
  }
  .article {
    width: 100%;
  }
  .yb {
    width: 100%;
  }
}
