.container {
  background-color: #f9f9f9;
}
.section {
  margin: 2px 9%;
  height: 447px;
  position: relative;
}
.text {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.heading1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 67.53px;
}
.span {
  font-weight: 700;
}
.paragraph {
  width: 55%;
  font-size: 20px;
  line-height: 28.14px;
  margin: auto;
  margin-top: 1rem;
}
.right {
  position: absolute;
  transform: translate(94%, 8%);
  width: 10%;
  top: 0;
  right: 0;
}
.left {
  position: absolute;
  transform: translate(-103%, -7%);
  width: 10%;
  bottom: 0;
}

@media (max-width: 1100px) {
  .text {
    margin-top: 2rem;
    width: 100%;
  }
  .paragraph {
    font-size: 18px;
    width: 85%;
    line-height: 25.32px;
    margin-bottom: 2rem;
  }
  .heading1 {
    font-size: 34px;
    line-height: 44px;
  }
}
